@import defaults

.select2-container--pbx
	display: block
	width: 100% !important

	.selection
		display: block

	@import multiple
	@import single

	.select2-search--dropdown
		$p_horiz-cross:	15px
		$d-cross:		10px

		.select2-search__field
			padding: $p_vert-input ( $d-cross + $p_horiz-cross * 2 ) $p_vert-input $p_horiz-input

			color: $c-input
			font-size: $f_sz-input
			line-height: $h-input - $brd_w-input * 2 - $p_vert-input * 2
			letter-spacing: .1em

			+placeholder-style( $c-placeholder, $c-placeholder, $c-placeholder, $l_s: .1em )

		.select2-search__cross
			position: absolute
			top: ( ( $h-input - $brd_w-input * 2 ) - $d-cross )/2
			right: $p_horiz-input

			width: $d-cross
			height: $d-cross

			line-height: 0

			@extend .i-cross

			&::after
				color: $brand-danger
				font-size: $d-cross

	.select2-search--inline
		display: flex
		flex-grow: 1

		max-width: 100% // to cut long text in .select2-search__field

		margin: $m_vert-select2-selection__choice_pbx 0 0 0

		.select2-search__field
			flex-grow: 1

			width: 0 !important // to set js
			min-width: 100px

			padding-left: $p_horiz-input - $m_horiz-select2-selection__choice_pbx

			color: $c-input
			font-size: $f_sz-input
			line-height: $h-select2-selection__choice_pbx
			letter-spacing: $l_s-input

			text-overflow: ellipsis

			-webkit-appearance: textfield

			+placeholder-style( $c-placeholder, $c-placeholder, $c-placeholder, $l_s: $l_s-input )

	.select2-results__group
		cursor: default
		display: block
		padding: 6px