.select2-selection--multiple
	$p_horiz-choice:	8px
	$d-remove:			8px

	padding: $p_vert-input $m_horiz-select2-selection__choice_pbx
	min-height: $h-input // for empty select (without options)

	border: $brd_w-input solid $brd_c-input
	border-radius: $brd_rd-input

	background-color: $bg-input

	cursor: text

	.select2-selection__rendered
		margin-top: -$m_vert-select2-selection__choice_pbx

	.select2-selection__clear
		cursor: pointer
		float: right
		font-weight: bold
		margin-top: 5px
		margin-right: 10px

	.select2-selection__placeholder
		color: $c-placeholder
		margin-top: $m_horiz-select2-selection__choice_pbx

	.select2-selection__choice
		$valign:	1px

		position: relative // for .select2-selection__choice__remove

		background-color: $brand-primary

		margin: $m_vert-select2-selection__choice_pbx $m_horiz-select2-selection__choice_pbx 0 0
		border-radius: 2px
		padding: 0 ( $p_horiz-choice * 2 + $d-remove ) $valign $p_horiz-choice

		color: $white
		font-size: $font-size-xxs
		font-weight: 500
		line-height: $h-select2-selection__choice_pbx - $valign
		letter-spacing: .06em

		cursor: default

	.select2-selection__choice__remove
		position: absolute
		top: 7px
		right: $p_horiz-choice

		font-size: 0 // to hide cross inside
		line-height: 0

		@extend .i-cross

		&::after
			color: $white
			font-size: $d-remove

&.select2-container--focus

	.select2-selection--multiple
		outline: 0

&.select2-container--disabled

	.select2-selection--multiple
		cursor: default

		.select2-selection__rendered
			color: $grey-light

	.select2-selection__choice__remove
		display: none