.select2-selection--single
	min-height: $h-input // for empty select (without options)

	border: $brd_w-input solid $brd_c-input
	border-radius: $brd_rd-input

	background-color: $bg-input

	.select2-selection__rendered
		$w_widest-icon-database:	35px

		padding: $p_vert-input ( ( $p_horiz-input + $h-select2-selection__arrow_pbx ) * 2 ) $p_vert-input $p_horiz-input

		color: $c-input
		font-size: $f_sz-input
		line-height: $h-input - $brd_w-input * 2 - $p_vert-input * 2
		letter-spacing: $l_s-input

	.select2-selection__clear
		cursor: pointer
		float: right
		font-weight: bold

	.select2-selection__placeholder
		color: $c-placeholder

	.select2-selection__arrow
		height: $h-input - $brd_w-input * 2

		position: absolute

		top: $brd_w-input
		right: $brd_w-input

		width: ( $r-select2-selection__arrow_pbx + $h-select2-selection__arrow_pbx ) * 2 - $brd_w-input

		&::before
			content: ''

			position: absolute
			top: ( $h-input/2 - $brd_w-input ) - round( $h-select2-selection__arrow_pbx/2 )
			right: $r-select2-selection__arrow_pbx - $brd_w-input

			border: $h-select2-selection__arrow_pbx solid transparent
			border-top-color: $grey-darker
			border-bottom-width: 0

		b
			display: none

&[dir="rtl"]

	.select2-selection--single

		.select2-selection__clear
			float: left

		.select2-selection__arrow
			left: 1px
			right: auto

&.select2-container--disabled

	.select2-selection--single
		cursor: default

		.select2-selection__rendered
			color: $grey-light

		.select2-selection__clear
			display: none

&.select2-container--open

	.select2-selection--single

		.select2-selection__arrow

			&::before
				border-color: transparent
				border-bottom-color: $grey-darker
				border-width: $h-select2-selection__arrow_pbx
				border-top-width: 0