.-ol-btn
	display: inline-block
	vertical-align: middle

	margin-bottom: 0 // For input.-ol-btn
	border-style: solid

	background-image: none // Reset unusual Firefox-on-Android default style see https://github.com/necolas/normalize.css/issues/214

	font-weight: $btn-font-weight
	letter-spacing: .06em

	text-align: center

	cursor: pointer
	touch-action: manipulation

	transition: all .2s

	+btn-size( $h-btn, $brd_rd-btn, $p_vert-btn, $p_horiz-btn, $f_sz-btn, $lh-btn, $brd_w-btn )

	+btn-variant( $c-btn-filled, $bg_c-btn-primary )

	padding-top: floor( $p_vert-btn )
	padding-bottom: ceil( $p_vert-btn )

	&_default

		+btn-variant( $c-btn-default, $bg_c-btn-default )

	&_success

		+btn-variant( $c-btn-filled, $bg_c-btn-success )

	&_info

		+btn-variant( $c-btn-filled, $bg_c-btn-info )

	&_warning

		+btn-variant( $c-btn-filled, $bg_c-btn-warning )

	&_danger

		+btn-variant( $c-btn-filled, $bg_c-btn-danger )

	&_outline

		+btn-variant( $c-btn-outline, $bg_c-btn-outline )

	&_minor

		+btn-variant( $c-btn-minor, $bg_c-btn-minor )

	&[disabled]

		+btn-variant( $c-btn-disabled, $bg_c-btn-disabled, 0, 0 )

		cursor: not-allowed
		pointer-events: none // Future-proof disabling of hover, active, click

	&_rounded
		border-radius: $h-btn_wanted/2

	&_link
		width: auto
		height: auto

		border: 0
		border-radius: 0
		padding: 0

		+btn-link( $brd-c-btn-link, $c-btn-link, $brd-c-btn-link_hover, $c-btn-link_hover )

	&_call
		position: relative
		padding-left: $p_horiz-btn + 24px

		@extend .i-call

		&::after
			position: absolute
			top: 15px
			left: 17px

			font-size: 15px

	&_end
		position: relative
		padding-left: $p_horiz-btn + 24px

		@extend .i-decline

		&::after
			position: absolute
			top: 18px
			left: 15px

			font-size: 9px


	// Button Sizes
	// --------------------------------------------------

	&_lg

		+btn-size( $h-btn_lg, $brd_rd-btn_lg, $p_vert-btn_lg, $p_horiz-btn_lg, $f_sz-btn_lg, $lh-btn_lg, $brd_w-btn )

	&_sm

		+btn-size( $h-btn_sm, $brd_rd-btn_sm, $p_vert-btn_sm, $p_horiz-btn_sm, $f_sz-btn_sm, $lh-btn_sm, $brd_w-btn )

	&_xs

		+btn-size( $h-btn_xs, $brd_rd-btn_xs, $p_vert-btn_xs, $p_horiz-btn_xs, $f_sz-btn_xs, $lh-btn_xs, $brd_w-btn )

	&_shrink_xs
		min-width: 45px
		padding-left: 12px
		padding-right: 12px

	&_min_w_initial
		min-width: 0 !important