.i-logo,
.i-arrow,
.i-cross,
.i-call,
.i-decline,
.i-microphone,
.i-mute,
.i-pause,
.i-plus,
.i-transfer,
.i-keypad,
.i-more,
.i-plus_2,
.i-speech,
.i-loudspeaker,
.i-team,
.i-copy

	+font-sprite

.i-logo

	&::after
		content: '\e90e'

.i-arrow

	&::after
		content: '\e900'

.i-cross

	&::after
		content: '\e901'

.i-call

	&::after
		content: '\e902'

.i-decline

	&::after
		content: '\e903'

.i-microphone

	&::after
		content: '\e904'

.i-mute

	&::after
		content: '\e905'

.i-pause

	&::after
		content: '\e906'

.i-plus

	&::after
		content: '\e907'

.i-transfer

	&::after
		content: '\e908'

.i-keypad

	&::after
		content: '\e909'

.i-more

	&::after
		content: '\e90a'

.i-plus_2

	&::after
		content: '\e90b'

.i-speech

	&::after
		content: '\e90c'

.i-loudspeaker

	&::after
		content: '\e90d'

.i-team

	&::after
		content: '\e90f'

.i-copy

	&::after
		content: '\e910'