.b-box-call
	$h-top:						20px
	$h-top_mb:					30px

	$p_vert-btn-keys-item:		10px
	$p_horiz-btn-keys-item:		15px

	$p_vert-main-users-item:	13px
	$p_horiz-main-users-item:	13px
	$p_vert-main-btns-item:		10px
	$p_horiz-main-btns-item:	10px

	$p_horiz_lg-main-btns-item:	12px

	width: 365px

	overflow: hidden

	border-radius: 5px

	background-color: $white
	box-shadow: 0px 15px 60px 0 rgba( $b_sh_c, .07 )

	+md-mobile
		max-width: 100%
		box-shadow: 0px 15px 60px 0 rgba( $b_sh_c, 0 )

	&_w_lg
		width: 410px

	&__top
		position: relative // for &__top-cross

		min-height: $h-top

		padding: 6px ( $h-top + 5px ) 6px 10px

		background-color: $grey-lightest

		+md-mobile
			min-height: $h-top_mb
			padding: 10px ( $h-top_mb + 5px ) 10px 10px

	&__top-time
		margin: -3px 0 -4px

		color: $grey-darker
		font-size: $font-size-xxxs
		line-height: 1.5
		letter-spacing: .1em

	&__top-cross
		position: absolute
		top: 0
		right: 0

		width: $h-top
		height: $h-top

		background-color: rgba( $grey-darker, 0 )

		font-size: 0 // for &::after

		transition: background-color .2s

		@extend .i-cross

		+md-mobile
			width: $h-top_mb
			height: $h-top_mb

		&:hover
			background-color: rgba( $grey-darker, .1 )

		&::after
			$d:	10px

			position: absolute
			top: 5px
			right: ( $h-top - $d )/2

			color: $grey-darker
			font-size: $d

			+md-mobile
				top: 10px
				right: ( $h-top_mb - $d )/2

	&__main
		position: relative // for &__main-back
		padding: 25px 30px

		+md-mobile
			padding-left: 20px
			padding-right: 20px

		&_p_t_lg
			padding-top: 30px

		&_p_horiz_sm
			padding-left: 25px
			padding-right: 25px

			+md-mobile
				padding-left: 20px
				padding-right: 20px

	&__back
		position: absolute
		top: 10px
		left: 10px

		padding-left: 28px

		@extend .i-arrow

		&::after
			position: absolute
			top: -1px
			left: 0
			color: $grey-darker
			font-size: 10px

	&__back-text
		display: block

		margin: -7px 0

		color: $grey-darker
		font-size: 1.1rem
		line-height: 2
		letter-spacing: .1em

	&__heading-2
		margin: -7px 0 9px
		color: $grey-darker
		font-size: 12px
		line-height: 2

		text-transform: uppercase

		&_last
			margin-bottom: -8px

	&__input
		$c:		rgba( $grey-darker, .5)
		$l_s:	.1em

		width: 100%

		margin-bottom: 30px
		border-bottom: 1px solid rgba( $grey-darker, .15 )
		padding: 8px 20px

		color: $c
		font-size: $font-size-sm
		font-weight: 400 // to reset initial styles
		line-height: 2
		letter-spacing: .1em

		+placeholder-style( $c, $c, $c, $l_s )

	&__btn-keys
		max-width: 210px
		margin: 0 auto

	&__btn-keys-list
		display: flex
		flex-wrap: wrap
		justify-content: center

		margin: ( -$p_vert-btn-keys-item ) ( -$p_horiz-btn-keys-item )

	&__btn-keys-list-item
		padding: $p_vert-btn-keys-item $p_horiz-btn-keys-item

	&__btn-key
		$d:	50px

		width: $d
		height: $d

		border: 1px solid rgba( $grey-darker, .3 )
		border-radius: 50%
		padding: 5px

		background-color: transparent

		text-align: center

		transition: .2s border-color, .2s background-color

		&:hover
			border: 1px solid transparent
			background-color: $brand-success

		&_main
			display: block

			margin: -8px 0 0

			color: $grey-darker
			font-size: $font-size-mdl
			line-height: 1.75
			font-weight: 600
			letter-spacing: .1em

			&_last
				margin-bottom: -9px

		&:hover &_main
			color: $white

		&_subtext
			display: block

			margin: -4px 0

			color: rgba( $grey-darker, .6 )
			font-size: $font-size-xxxs
			font-weight: 500
			line-height: 1.5
			letter-spacing: .14em
			text-transform: uppercase

		&:hover &_subtext
			color: rgba( $white, .6 )

	&__btn-round
		$d:	45px

		position: relative // for &::after

		width: $d
		height: $d

		margin-bottom: 16px
		border: 1px solid transparent
		border-radius: 50%

		background-color: $grey-lightest

		font-size: 0 // for &::after

		transition: .2s border-color, .2s background-color

		&_without_text
			margin-bottom: 0

		&:hover,
		&_success
			background-color: $brand-success

		&_danger
			background-color: $brand-danger

		&::after
			color: $grey-darker

			+center-tsf

		&:hover::after,
		&_success::after,
		&_danger::after
			color: $white

		&_call

			@extend .i-call

			&::after
				font-size: 16px

		&_end

			@extend .i-decline

			&::after
				font-size: 10px

		&_unmute

			@extend .i-microphone

			&::after
				font-size: 22px

		&_mute
			background-color: rgba( $brand-danger, .15 )

			@extend .i-mute

			&::after
				color: $brand-danger
				font-size: 22px

		&_hold

			@extend .i-pause

			&::after
				font-size: 15px

		&_add

			@extend .i-plus

			&::after
				font-size: 15px

		&_transfer

			@extend .i-transfer

			&::after
				font-size: 20px

		&_keypad

			@extend .i-keypad

			&::after
				font-size: 20px

		&_more

			@extend .i-more

			&::after
				font-size: 5px

	&__main-header-user
		display: flex // to collapse margins inside
		flex-direction: column
		margin-bottom: 30px

	&__main-users
		display: flex
		margin-bottom: 30px
		margin: ( -$p_vert-main-users-item ) ( -$p_horiz-main-users-item ) ( 30px - $p_vert-main-users-item )

		&_last
			margin-bottom: -$p_vert-main-users-item

	&__main-users-item
		padding: $p_vert-main-users-item $p_horiz-main-users-item

	&__main-users-info
		padding-top: 11px

	&__user-photo
		$d:	60px

		width: $d
		height: $d

		border-radius: 50%

		box-shadow: 0 5px 25px rgba( $grey-darker, .3 ), 0 0 0 13px $grey-lightest

		background: transparent 50% / cover no-repeat

	&__user-name
		margin: -7px 0 8px

		color: $grey-darker
		font-size: $font-size-xm
		font-weight: 600
		line-height: 1.5

		&_number
			color: $grey-light
			font-size: $font-size-sm
			font-weight: 400

		&_last
			margin-bottom: -7px

	&__user-btn-in-line
		margin-left: 10px
		display: inline-block
		font-size: 0 // for &::after

		@extend .i-cross

		&::after
			color: $brand-danger
			font-size: 10px

	&__user-number
		margin: -9px 0

		color: $grey-light
		font-size: $font-size-sm
		line-height: 2

	&__main-btns
		display: flex
		flex-wrap: wrap
		margin: ( -$p_vert-main-btns-item ) ( -$p_horiz-main-btns-item )

		&_center
			justify-content: center

		&_m_horiz_lg
			margin-left: -$p_horiz_lg-main-btns-item
			margin-right: -$p_horiz_lg-main-btns-item

		&_nowrap
			flex-wrap: nowrap

	&__main-btns-item
		position: relative // for &__main-btns-text
		padding: $p_vert-main-btns-item $p_horiz-main-btns-item

		&_6
			width: 50%

		&_stretch
			flex-grow: 1

	&__main-btns_m_horiz_lg &__main-btns-item
		padding-left: $p_horiz_lg-main-btns-item
		padding-right: $p_horiz_lg-main-btns-item

	&__main-btns-text
		bottom: 0

		margin: -4px 0 -5px

		color: rgba( $grey-darker, .6 )
		font-size: $font-size-xxs
		line-height: 1.5

		letter-spacing: .1em

		text-align: center

		white-space: nowrap

		+center-tsf( $y: auto, $not: 0)

	&__dropdown-bind
		position: relative

	&__dropdown
		position: absolute
		bottom: 100%
		right: 0

		display: none

		padding-bottom: 15px

	&__dropdown-bind:hover &__dropdown
		display: block

	&__dropdown-list
		overflow: hidden

		border-radius: 3px

		background-color: $white
		box-shadow: 0px 7px 30px 0 rgba( $b_sh_c, .12 )

	&__dropdown-list-item
		position: relative // for &__dropdown-icon

		border-bottom: 1px solid rgba( $black, .15 )
		padding: 10px
		padding-left: 33px

		background-color: transparent

		white-space: nowrap

		cursor: pointer

		transition: .2s background-color

		&:hover
			background-color: $grey-lightest

		&_last
			border-bottom: none

	&__dropdown-icon
		position: absolute
		font-size: 0 // for &::after

		&::after
			color: $black

		&_keypad
			top: 8px
			left: 10px

			@extend .i-keypad

			&::after
				font-size: 12px

		&_hold
			top: 10px
			left: 11px

			@extend .i-pause

			&::after
				font-size: 9px

	&__dropdown-text
		margin: -5px 0

		color: rgba( $black, .8 )
		font-size: $font-size-xxs
		font-weight: 500
		line-height: 1.5

		letter-spacing: .1em