.b-chat-header
	$p_vert-inner-item:				5px
	$p_horiz-inner-item:			10px

	$p_vert-user-item:				10px
	$p_horiz-user-item:				6px
	$p_horiz_lg-user-item:			10px
	$p_horiz_lg-user-item_tb_sm:	7px

	$p_vert-options-item:			10px
	$p_horiz-options-item:			15px
	$p_horiz-options-item_tb_sm:	10px

	padding: 12px 25px
	box-shadow: 0px 15px 60px 0 rgba( $b_sh_c, .07 )
	background-color: $white

	+md-tablet_sm
		padding-top: 10px
		padding-bottom: 10px

	+md-mobile
		padding-left: 15px
		padding-right: 15px

	&__inner
		display: flex
		align-items: center
		justify-content: space-between

		margin: ( -$p_vert-inner-item ) ( -$p_horiz-inner-item )

	&__inner-item
		padding: $p_vert-inner-item $p_horiz-inner-item

		&_main
			flex-grow: 1 // for +text-ellipsis inside
			width: 0 // for +text-ellipsis inside

	&__user
		display: flex
		align-items: center
		margin: ( -$p_vert-user-item ) ( -$p_horiz-user-item )

		&_lg
			margin-left: -$p_horiz_lg-user-item
			margin-right: -$p_horiz_lg-user-item

			+md-tablet_sm
				margin-left: -$p_horiz_lg-user-item_tb_sm
				margin-right: -$p_horiz_lg-user-item_tb_sm

	&__user-item
		padding: $p_vert-user-item $p_horiz-user-item

		&_info
			flex-grow: 1 // for +text-ellipsis inside
			width: 0 // for +text-ellipsis inside

	&__user_lg &__user-item
		padding-left: $p_horiz_lg-user-item
		padding-right: $p_horiz_lg-user-item

		+md-tablet_sm
			padding-left: $p_horiz_lg-user-item_tb_sm
			padding-right: $p_horiz_lg-user-item_tb_sm

	&__user-photo
		width: 46px
		height: 46px

		border-radius: 50%

		background: $white url( '#{$img}/content/users/default.jpg' ) center / cover no-repeat

		+md-tablet-sm
			width: 40px
			height: 40px

	&__user-name
		max-width: 540px

		margin: -6px 0 4px

		color: $grey-darker
		font-size: 1.4rem
		line-height: 1.5
		font-weight: 600
		letter-spacing: .04rem

		+text-ellipsis

		&_last
			margin-bottom: -5px

		&_lg
			margin: -6px 0 4px

			font-size: 1.6rem
			line-height: 1.5
			font-weight: 400

			+md-tablet_sm
				margin: -6px 0 5px
				font-size: 1.5rem

		&_lg#{&}_last
			margin-bottom: -6px

			+md-tablet_sm
				margin-bottom: -5px

	&__user-status
		max-width: 260px

		margin: -4px 0

		color: $grey-light
		font-size: 1rem
		line-height: 1.5
		font-style: italic
		letter-spacing: .08rem

		+text-ellipsis

	&__options
		display: flex
		align-items: center

		margin: ( -$p_vert-options-item ) ( -$p_horiz-options-item )
		padding-right: 5px

		+md-tablet_sm
			margin-left: -$p_horiz-options-item
			margin-right: -$p_horiz-options-item

	&__options-item
		padding: $p_vert-options-item $p_horiz-options-item

		+md-tablet_sm
			padding-left: $p_horiz-options-item
			padding-right: $p_horiz-options-item

	&__options-btn
		width: 40px
		height: 40px

		border-radius: 3px

		font-size: 0
		line-height: 0

		background-color: rgba( $grey-lightest, 0 )

		transition: background-color .2s

		&:hover
			background-color: $grey-lightest

	&__options-keypad
		margin: -11px

		&::after
			margin: 11px 0 0 11px
			font-size: 18px
			color: $grey-darker

		@extend .i-keypad

	&__options-call
		margin: -13px -11px

	&__options-call-inner

		&::after
			margin: 13px 0 0 11px
			font-size: 14px
			color: $grey-darker

		@extend .i-call