.b-chat-line
	$p_horiz-item:			6px

	display: flex
	align-items: center
	margin: 0 ( -$p_horiz-item )

	&__item
		padding: 0 $p_horiz-item

		&_name
			overflow: hidden
			padding-top: 3px
			padding-bottom: 3px

	&__photo
		flex-shrink: 0

		width: 31px
		height: 31px

		border-radius: 50%

		background: $grey url( '#{$img}/content/users/default.jpg' ) center / cover no-repeat

		&_with_text
			background-image: none

			color: $white
			font-size: 1.2rem
			line-height: 31px
			font-weight: 600
			letter-spacing: .06em

			text-align: center

	&__name
		margin: -7px 0

		color: $grey-darker
		font-size: 1.3rem
		line-height: 2.3rem
		letter-spacing: .04em

		+text-ellipsis