.b-chat
	$p_vert-message-item:			8px
	$p_horiz-message-item:			10px
	$p_horiz-message-item_tb_sm:	7px
	$l_s-message-text:				.02em

	display: flex
	flex-direction: column

	padding: 30px 25px 20px

	background-color: $grey-lightest

	+md-mobile
		padding: 15px

	&__content
		display: flex
		flex-grow: 1
		flex-direction: column
		justify-content: flex-end

	&__message
		display: flex // to collapse margins inside
		margin-bottom: 30px

	&__message-inner
		display: flex
		width: 100% // to crop the text inside
		margin: ( -$p_vert-message-item ) ( -$p_horiz-message-item )

		+md-tablet_sm
			margin-left: -$p_horiz-message-item_tb_sm
			margin-right: -$p_horiz-message-item_tb_sm

	&__message-item
		padding: $p_vert-message-item $p_horiz-message-item

		+md-tablet_sm
			padding-left: $p_horiz-message-item_tb_sm
			padding-right: $p_horiz-message-item_tb_sm

		&_main
			flex-grow: 1

			overflow: hidden

			max-width: 700px + $p_horiz-message-item * 2

			padding-top: $p_vert-message-item + 5px

	&__message-user-photo
		flex-shrink: 0

		width: 50px
		height: 50px

		border-radius: 50%

		background: $white url( '#{$img}/content/users/default.jpg' ) center / cover no-repeat

		+md-tablet_sm
			width: 40px
			height: 40px

	&__message-info
		display: flex // to collapse margins inside
		margin-bottom: 13px

		&_name,
		&_minor
			margin: -7px 0
			color: $grey-darker
			font-size: 1.3rem
			line-height: 2.3rem
			font-weight: 700
			letter-spacing: .02em

			+text-ellipsis

			display: inline-block // to set +text-ellipsis

		&_name
			$m_r:	15px

			max-width: calc( 70% - #{ $m_r } )
			margin-right: $m_r

		&_minor
			max-width: 30%

			color: $grey-light
			font-size: 1.2rem
			font-weight: 400
			letter-spacing: .04em

	&__enter-textarea,
	&__message-text
		color: $grey-darker
		font-size: 1.3rem
		line-height: 2.3rem
		letter-spacing: $l_s-message-text

	&__message-text
		margin: -7px 0

	&__hr
		display: flex
		justify-content: center

		margin-bottom: 30px
		padding: 0 20px // to leave the line visible for small resolution

		background-color: $brd_c

		&_last,
		&:last-child
			margin-bottom: 0

	&__hr-text
		max-width: 300px

		margin: -11px 0
		padding: 0 25px

		background-color: $grey-lightest

		color: $grey-darker
		font-size: 1.3rem
		line-height: 2.3rem
		font-weight: 600
		letter-spacing: .04em

		+text-ellipsis

	&__enter
		position: relative // for &__enter-btn

	&__enter-textarea
		width: 100%
		height: 47px

		border: 1px solid $brd_c
		padding: 11px 105px 9px 18px

		background-color: $white

		+placeholder-style( $grey-light, transparent, $grey-light, 400, $l_s-message-text )

	&__enter-btn
		position: absolute
		top: 7px
		right: 7px

		min-width: 80px
		max-width: 120px

		padding: 6px 23px
		border-radius: 2px

		background-color: $brand-primary

		color: $white
		font-size: 1.2rem
		font-weight: 700
		line-height: 1.75
		letter-spacing: .04em

		+text-ellipsis

	&__back
		display: none

		margin-top: 10px
		border-radius: $brd_rd-btn
		padding: 11px 13px

		background: $brand-primary

		color: $white
		font-size: 1.4rem
		line-height: 2.4rem
		font-weight: 600
		letter-spacing: .04em

		text-align: center

		+md-mobile
			display: block