.b-chat-nav
	$p_vert:								35px

	$h-logo:								30px

	$p_vert-user-list-item:					7px

	$anim_dur-b-chat-nav__chat-list-item:	.3s

	display: flex
	flex-direction: column

	width: 301px

	border-right: 1px solid $brd_c

	background-color: $white

	transition: left .2s // for +md-mobile

	+md-tablet_sm
		width: 271px

	+md-mobile
		position: absolute
		top: 0
		left: -100%

		width: 100%
		height: 100%

	&_active_mb

		+md-mobile
			left: 0

	&__logo
		$p_b:	30px

		flex-shrink: 0
		padding: $p_vert $p_horiz-b-chat-nav $p_b

		+md-mobile
			padding-top: 20px
			padding-bottom: 15px

	&__logo-symbol
		background: center / contain no-repeat

	&__content
		flex-grow: 1
		overflow: auto
		padding: 15px $p_horiz-b-chat-nav $p_horiz-b-chat-nav

	&__item
		margin-bottom: 35px

		&_last
			margin-bottom: 0

	&__heading
		position: relative // to collapse margins inside

		display: flex

		margin-bottom: 17px
		padding: 0 40px 0 30px // pr: 40px - for &__heading-btn-add

		&::after
			position: absolute
			color: $grey-light

		&_team

			@extend .i-team

			&::after
				top: -2px
				left: 0
				font-size: 15px

		&_chat

			@extend .i-speech

			&::after
				top: -1px
				left: 0
				font-size: 16px

		&_campaigns

			@extend .i-loudspeaker

			&::after
				top: -1px
				left: 1px
				font-size: 16px

	&__heading-text
		margin: -7px 0

		color: $grey
		font-size: 1.5rem
		line-height: 2.5rem
		font-weight: 600
		letter-spacing: .04em

		+text-ellipsis

	&__heading-btn-add
		position: absolute // relative for &::after
		top: -9px
		right: 0

		width: 30px
		height: 30px

		border-radius: 50%

		@extend .i-plus_2

		&::before
			content: ''

			position: absolute
			top: 0
			left: 0

			width: 100%
			height: 100%

			border: 1px solid $brd_c
			border-radius: 50%

			transition: all .2s

		&:hover::before
			$increase:	4px

			top: -$increase
			left: -$increase

			width: calc( 100% + #{ $increase * 2 } )
			height: calc( 100% + #{ $increase * 2 } )

		&::after
			position: absolute
			top: 10px
			left: 10px

			color: $grey
			font-size: 10px

	&__chat-list
		margin: ( -$p_vert-user-list-item ) 0

	&__chat-list-item
		position: relative

		margin: 0 ( -$p_horiz-b-chat-nav )
		padding: $p_vert-user-list-item $p_horiz-b-chat-nav

		box-shadow: 0px 15px 60px 0 rgba( $b_sh_c, 0 )

		transition: box-shadow $anim_dur-b-chat-nav__chat-list-item

		cursor: pointer

		&:not( &_active ):hover
			box-shadow: 0px 7px 30px 0 rgba( $b_sh_c, .12 )

			+md-mobile
				box-shadow: 0px 7px 30px 0 rgba( $b_sh_c, 0 )

		&_active
			cursor: default

			+md-mobile
				cursor: auto

		&_online
			$d-round:		15px
			$d-round-sm:	5px

			&::before
				content: ''

				position: absolute
				top: 15px
				right: $p_horiz-b-chat-nav -  ( $d-round - $d-round-sm )/2
				z-index: 1// to be over &__chat-list-item-inner::before

				width: $d-round
				height: $d-round

				border-radius: 50%

				background-color: $white

			&::after
				content: ''

				position: absolute
				top: 20px
				right: $p_horiz-b-chat-nav
				z-index: 2 // to be over &::before

				width: $d-round-sm
				height: $d-round-sm

				border-radius: 50%

				background-color: $brand-success

	&__chat-list_tags &__chat-list-item
		padding-top: 12px
		padding-bottom: 12px

	&__chat-list-item-inner
		position: relative // for &::before

		&::before
			$l:	16px

			content: ''

			position: absolute
			top: 0
			left: $l

			opacity: 0

			width: calc( 100% - #{ $l + 2px } )
			height: 100%

			border-radius: 0 3px 3px 0

			background-color: $brand-primary

			transition: opacity $anim_dur-b-chat-nav__chat-list-item

			+md-mobile
				display: none

	&__chat-list-item_active &__chat-list-item-inner::before
		opacity: 1

	&__chat-list-info
		position: relative
		z-index: 1 // to be over &__chat-list-item-inner::before

	&__photo
		position: relative // for &::before and &::after

		&::before,
		&::after
			content: ''

			position: absolute
			z-index: -1 // to be under a photo

			border-radius: 50%

			opacity: 0

			transition: opacity $anim_dur-b-chat-nav__chat-list-item

			+md-mobile
				display: none

		&::before
			top: -4px
			left: -4px

			width: calc( 100% + 8px )
			height: calc( 100% + 8px )

			background-color: $brand-primary

		&::after
			top: -3px
			left: -3px

			width: calc( 100% + 6px )
			height: calc( 100% + 6px )

			background-color: $white

	&__chat-list-item_active &__photo

		&::before,
		&::after
			opacity: 1

	&__name
		transition: all $anim_dur-b-chat-nav__chat-list-item

	&__chat-list-item_active &__name
		font-weight: 600

		+md-mobile
			font-weight: 400

	&__chat-list-item_user#{&}__chat-list-item_active &__name
		color: $white

		+md-mobile
			color: $grey-darker

	&__chat-tag
		max-width: 64px
		min-width: 16px

		border-radius: 2px
		padding: 0 4px

		background-color: $grey-light

		color: $white
		font-size: 1.1rem
		line-height: 1.6rem
		font-weight: 700
		letter-spacing: .06em

		+text-ellipsis

	&__chat-list-item_active &__chat-tag
		background-color: $brand-primary

		+md-mobile
			background-color: $grey-light

	&__chat-copy
		opacity: 0
		transition: opacity $anim_dur-b-chat-nav__chat-list-item

		@extend .i-copy

		&::after
			position: absolute
			top: 13px
			right: $p_horiz-b-chat-nav

			color: $grey
			font-size: 14px

	&__chat-list-item:hover &__chat-copy
		opacity: 1