.b-list-user-dropdown
	$brd_rd:	3px
	$p_horiz:	15px
	$amin_dur:	.2s

	position: absolute
	top: 100%
	left: 99999px

	opacity: 0

	width: 240px

	transition: opacity $amin_dur, left $amin_dur step-end

	&__bind:hover &
		opacity: 1
		left: 0
		transition: opacity $amin_dur, left $amin_dur step-start

	&_right
		left: auto
		right: 99999px
		transition: opacity $amin_dur, right $amin_dur step-end

	&__bind:hover &_right
		left: auto
		right: 0
		transition: opacity $amin_dur, right $amin_dur step-start

	&__bind
		position: relative

	&__inner
		position: absolute
		top: 0
		left: 0

		min-width: 190px
		max-width: 100%

		padding-top: 24px

	&_right &__inner
		left: auto
		right: 0

	&_t_xs &__inner
		padding-top: 10px

	&__box
		position: relative

		border-radius: $brd_rd

		background-color: $white
		box-shadow: 0px 5px 45px 0 rgba( $b_sh_c, .15 )

		&::before
			$h:	5px

			content: ''

			position: absolute
			top: -$h
			right: 10px

			border: $h solid transparent
			border-top-width: 0
			border-bottom-color: $grey-lightest

	&_without_heading &__box::before
		left: 10px
		right: auto
		border-bottom-color: $white

	&__heading
		border-radius: $brd_rd $brd_rd 0 0
		padding: 6px $p_horiz
		background-color: $grey-lightest

	&__heading-text
		margin: -5px 0

		color: $grey-darker
		font-size: 1.1rem
		line-height: 1.8rem
		font-weight: 600
		letter-spacing: .04rem

		text-transform: uppercase

	&__content
		max-height: 239px
		padding: 7px 0

	&__content-item
		padding: 7px $p_horiz
		box-shadow: 0px 7px 30px 0 rgba( $b_sh_c, 0 )
		transition: box-shadow $anim_dur-b-chat-nav__chat-list-item
		cursor: pointer

		&:hover
			box-shadow: 0px 7px 30px 0 rgba( $b_sh_c, .12 )
