/* perfect-scrollbar v0.7.0 */
.c-scroll
	$brd_c-scroll-rail:             $brd_c

	$bg-scroll-rail:                transparent
	$bg-scroll-rail_hover:          transparent

	$o-scroll-rail:                 .3
	$o-scroll-rail_hover:           .3
	$o-scroll-rail_target_hover:    .5

	$m_horiz-scroll:                5px
	$m_vert-scroll:                 10px

	$h-scroll-rail:                 15px

	$h-scroll:                      $h-scroll-rail - ($m_horiz-scroll * 2)
	$h-scroll_hover:                $h-scroll-rail - ($m_horiz-scroll * 2)

	$bg-scroll:                     $bg_c-scroll
	$bg-scroll_hover:               $bg_c-scroll

	position: relative

	touch-action: auto

	overflow: hidden !important
	-ms-overflow-style: none

	@supports ( -ms-overflow-style: none )

		.ps
			overflow: auto !important

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
		.ps
			overflow: auto !important

	&.ps--active-x > .ps__scrollbar-x-rail,
	&.ps--active-y > .ps__scrollbar-y-rail
		display: block
		background-color: $bg-scroll-rail
		cursor: pointer

	&.ps--in-scrolling.ps--x

		> .ps__scrollbar-x-rail
			opacity: $o-scroll-rail_target_hover
			background-color: $bg-scroll-rail_hover

			> .ps__scrollbar-x
				height: $h-scroll_hover
				border-radius: $h-scroll_hover/2
				background: $bg-scroll

	&.ps--in-scrolling.ps--y

		> .ps__scrollbar-y-rail
			opacity: $o-scroll-rail_target_hover
			background-color: $bg-scroll-rail_hover

			> .ps__scrollbar-y
				width: $h-scroll_hover
				border-radius: $h-scroll_hover/2
				background: $bg-scroll

	> .ps__scrollbar-x-rail,
	> .ps__scrollbar-y-rail
		z-index: 10

	> .ps__scrollbar-x-rail
		/* please don't change 'position' */
		position: absolute
		/* there must be 'bottom' for ps__scrollbar-x-rail */
		bottom: 0px

		height: $h-scroll-rail + $brd_w * 2

		display: none

		opacity: $o-scroll-rail

		margin: 0 $m_vert-scroll

		transition: background-color .2s, opacity .2s

		> .ps__scrollbar-x
			/* please don't change 'position' */
			position: absolute
			/* there must be 'bottom' for ps__scrollbar-x */
			bottom: $m_horiz-scroll

			height: $h-scroll

			border-radius: $h-scroll/2

			background: $bg-scroll

			transition: background-color .2s, height .2s, width .2s ease-in-out, border-radius .2s ease-in-out

			// &::after
			//  $p_vert: 14px;

			//  content: '';

			//  top: $p_vert
			//  left: 0

			//  width: 100%
			//  height: calc( 100% - $p_vert*2 )

		&:hover > .ps__scrollbar-x,
		&:active > .ps__scrollbar-x
			height: $h-scroll_hover
			border-radius: $h-scroll_hover/2

	> .ps__scrollbar-y-rail
		/* please don't change 'position' */
		position: absolute
		/* there must be 'right' for ps__scrollbar-y-rail */
		right: 0

		display: none

		opacity: $o-scroll-rail

		width: $h-scroll-rail + $brd_w * 2

		margin: $m_vert-scroll 0

		transition: background-color .2s, opacity .2s

		> .ps__scrollbar-y
			/* please don't change 'position' */
			position: absolute
			/* there must be 'right' for ps__scrollbar-y */
			right: $m_horiz-scroll

			width: $h-scroll

			border-radius: $h-scroll/2

			background: $bg-scroll

			transition: background-color .2s, height .2s, width .2s ease-in-out, border-radius .2s ease-in-out

		&:hover > .ps__scrollbar-y,
		&:active > .ps__scrollbar-y

	&:hover.ps-in-scrolling.ps-x > .ps__scrollbar-x-rail
		opacity: $o-scroll-rail_target_hover
		background-color: $bg-scroll-rail_hover

		> .ps__scrollbar-x
			height: $h-scroll_hover
			border-radius: $h-scroll_hover/2
			background: $bg-scroll_hover

	&:hover.ps-in-scrolling.ps-y > .ps__scrollbar-y-rail
		background-color: $bg-scroll-rail_hover
		opacity: $o-scroll-rail_target_hover

		> .ps__scrollbar-y
			width: $h-scroll_hover
			border-radius: $h-scroll_hover/2
			background: $bg-scroll_hover

	&:hover > .ps__scrollbar-x-rail,
	&:hover > .ps__scrollbar-y-rail
		opacity: $o-scroll-rail_hover

	&:hover > .ps__scrollbar-x-rail:hover
		opacity: $o-scroll-rail_target_hover
		background-color: $bg-scroll-rail_hover

		> .ps__scrollbar-x
			background: $bg-scroll_hover

	&:hover > .ps__scrollbar-y-rail:hover
		opacity: $o-scroll-rail_target_hover
		background-color: $bg-scroll-rail_hover

		> .ps__scrollbar-y
			background: $bg-scroll_hover