.l-chat
	display: flex
	height: 100vh
	transition: $anim_dur-b-modal filter

	._modal_active &
		filter: blur( 3px )

	&__item
		height: 100%
		display: flex // to stretch children height

		&_main
			flex-grow: 1
			flex-direction: column
			overflow: hidden // to crop the text inside

	&__nav
		z-index: 3
		position: relative

	&__header
		z-index: 2
		position: relative

	&__main
		flex-grow: 1