.tooltipster_pbx
	$w-arrow:	8px
	$bg_c:		$white

	.tooltipster-box
		border: none // to set default styles
		border-radius: $brd_rd-b-tooltip

		background: $bg_c
		box-shadow: 0 10px 80px rgba( $b_sh_c, .22 )

	&.tooltipster-bottom .tooltipster-box
		margin-top: $w-arrow

	&.tooltipster-left .tooltipster-box
		margin-right: $w-arrow

	&.tooltipster-right .tooltipster-box
		margin-left: $w-arrow

	&.tooltipster-top .tooltipster-box
		margin-bottom: $w-arrow

	.tooltipster-content
		padding: 0 !important // to set default styles
		color: $c-text-base

	// .tooltipster-arrow : will keep only the zone of .tooltipster-arrow-uncropped that
	// corresponds to the arrow we want to display

	.tooltipster-arrow
		position: absolute

		overflow: visible // to set default styles

		width: auto !important // to set default styles
		height: auto !important // to set default styles

	&.tooltipster-bottom .tooltipster-arrow
		top: 0
		margin-left: 0px // to set default styles

	&.tooltipster-left .tooltipster-arrow
		right: 0
		// top 0 to keep the arrow from overflowing .tooltipster-base when it has not
		// been positioned yet
		top: 0
		margin-top: 0px // to set default styles

	&.tooltipster-right .tooltipster-arrow
		left: 0
		// same as .tooltipster-left .tooltipster-arrow
		top: 0
		margin-top: 0px // to set default styles

	&.tooltipster-top .tooltipster-arrow
		bottom: 0
		margin-left: 0px // to set default styles

	// common rules between .tooltipster-arrow-background and .tooltipster-arrow-border

	.tooltipster-arrow-background,
	.tooltipster-arrow-border
		height: 0
		position: static // to set default styles
		width: 0



	.tooltipster-arrow-background
		border: $w-arrow solid transparent
		left: 0 !important // to set default styles
		top: 0 !important // to set default styles

	&.tooltipster-bottom .tooltipster-arrow-background
		border-bottom-color: $bg_c
		border-top-width: 0
		margin-left: -$w-arrow

	&.tooltipster-left .tooltipster-arrow-background
		border-left-color: $bg_c
		border-right-width: 0
		margin-top: -$w-arrow

	&.tooltipster-right .tooltipster-arrow-background
		border-right-color: $bg_c
		border-left-width: 0
		margin-top: -$w-arrow

	&.tooltipster-top .tooltipster-arrow-background
		border-top-color: $bg_c
		border-bottom-width: 0
		margin-left: -$w-arrow



	.tooltipster-arrow-border
		display: none // to hide default unnecessary element



	.tooltipster-arrow-uncropped
		position: relative

	&.tooltipster-bottom .tooltipster-arrow-uncropped
		top: auto // to set default styles

	&.tooltipster-right .tooltipster-arrow-uncropped
		left: auto // to set default styles