@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese')

@font-face
	font-family: 'icomoon'
	src: url('#{$font-path}/sprite/icomoon.eot?u4fgl1')
	src: url('#{$font-path}/sprite/icomoon.eot?u4fgl1#iefix') format('embedded-opentype'), url('#{$font-path}/sprite/icomoon.woff2?u4fgl1') format('woff2'), url('#{$font-path}/sprite/icomoon.ttf?u4fgl1') format('truetype'), url('#{$font-path}/sprite/icomoon.woff?u4fgl1') format('woff'), url('#{$font-path}/sprite/icomoon.svg?u4fgl1#icomoon') format('svg')
	font-weight: normal
	font-style: normal