.b-modal.b-modal_sm.c-manipulate-class----modal--3
	.b-modal__inner
		.b-modal__inner-item
			.b-modal__box-wrapper

				.b-modal__overlay.b-modal__close.c-manipulate-class( data-c-manipulate-class-element="body, .c-manipulate-class----modal--3" data-c-manipulate-class-class="_modal_active, b-modal_active" data-c-manipulate-class-operation-type="remove, remove" )

				form.b-box-call.b-box-call_w_lg.b-modal__box( style="margin: 0 auto;" )

					.b-box-call__top
						button.b-box-call__top-cross.c-manipulate-class( data-c-manipulate-class-element="body, .c-manipulate-class----modal--3" data-c-manipulate-class-class="_modal_active, b-modal_active" data-c-manipulate-class-operation-type="remove, remove" )

					.b-box-call__main.b-box-call__main_p_t_lg.b-box-call__main_p_horiz_sm
						h3.b-heading-3._text_center Add Campaign

						.-ol-row-input
							.-ol-input-wrap
								input.-ol-input( type="text" placeholder="Enter the campaign name" )

						.-ol-row-input
							.-ol-input-wrap
								textarea.-ol-textarea( placeholder="Enter SMS message" )

						.-ol-row-input
							.-ol-input-wrap
								textarea.-ol-textarea( placeholder="Enter a list of target phone numbers" ) +13124563333, +42334578085857, +42334578085857, +13124563333, +42334578085857, +42334578085857
							.-ol-input-description
								p.-ol-input-description__text Use the E.164 international format: +13124563333 +42334578085857, …

						.-ol-row-input
							p.b-separator or

						.-ol-row-input
							.-ol-input-file
								p.-ol-input-file__text Upload .csv file with a list of phone numbers
								.-ol-input-file__progress
									.-ol-input-file__progress-active( style="width: 40%;" )
								input( type="file" )

						.b-box-call__main-btns.b-box-call__main-btns_m_horiz_lg
							.b-box-call__main-btns-item.b-box-call__main-btns-item_6
								button.-ol-btn.-ol-btn_minor._full_w Cancel
							.b-box-call__main-btns-item.b-box-call__main-btns-item_6
								button.-ol-btn._full_w Launch