.b-modal.b-modal_sm.c-manipulate-class----modal--2
	.b-modal__inner
		.b-modal__inner-item
			.b-modal__box-wrapper

				.b-modal__overlay.b-modal__close.c-manipulate-class( data-c-manipulate-class-element="body, .c-manipulate-class----modal--2" data-c-manipulate-class-class="_modal_active, b-modal_active" data-c-manipulate-class-operation-type="remove, remove" )

				form.b-box-call.b-box-call_w_lg.b-modal__box( style="margin: 0 auto;" )

					.b-box-call__top
						button.b-box-call__top-cross.c-manipulate-class( data-c-manipulate-class-element="body, .c-manipulate-class----modal--2" data-c-manipulate-class-class="_modal_active, b-modal_active" data-c-manipulate-class-operation-type="remove, remove" )

					.b-box-call__main.b-box-call__main_p_t_lg.b-box-call__main_p_horiz_sm
						h3.b-heading-3._text_center Start Conversation

						.-ol-row-input
							.-ol-input-wrap
								input.-ol-input( type="text" placeholder="Enter the conversation name" )

						.-ol-row-input.-ol-row-input_last
							.b-box-call__main-btns.b-box-call__main-btns_nowrap
								.b-box-call__main-btns-item.b-box-call__main-btns-item_stretch
									.-ol-input-wrap
										select.c-select( data-placeholder="Enter a name or number" multiple )
											option Jason Fox
											option Jessica Bennett
											option Christian Payne
								.b-box-call__main-btns-item
									button.-ol-btn.-ol-btn_shrink_xs._full_w Go