.select2-container
	display: inline-block
	margin: 0
	position: relative
	vertical-align: middle

	@import single
	@import multiple

// @import dropdown
.select2-container--pbx

	@import dropdown----pbx

.select2-close-mask
	border: 0
	margin: 0
	padding: 0
	display: block
	position: fixed
	left: 0
	top: 0
	min-height: 100%
	min-width: 100%
	height: auto
	width: auto
	opacity: 0
	z-index: 99

	// styles required for IE to work

	background-color: $white
	filter: alpha(opacity=0)

.select2-hidden-accessible
	position: absolute !important

	overflow: hidden !important

	width: 1px !important
	height: 1px !important

	margin: -1px !important
	border: 0 !important
	padding: 0 !important

	clip: rect(0 0 0 0) !important

@import theme/default/layout
@import theme/classic/layout
@import theme/pbx/layout