.select2-dropdown
	position: absolute
	left: -100000px
	z-index: 1051

	display: block

	overflow: hidden

	width: auto

	margin: 5px 0
	border-radius: $brd_rd-input

	background-color: $white
	box-shadow:  0px 5px 30px 0 rgba( $b_sh_c, .12 )

.select2-loader
	height: 58px

.select2-results
	display: block

.select2-results__options
	position: relative

	max-height: 306px

	list-style: none

	overflow: hidden // for perfectScrollbar plugin
	// initialy overflow-y: auto
	// otherwise, default scroll may blink

	margin: 0
	padding: 0

.select2-results__option
	$w_widest-icon-database:	35px

	position: relative

	padding: $p_vert-input $p_horiz-input

	color: $c-input
	font-size: $f_sz-input
	line-height: $h-input - $brd_w-input * 2 - $p_vert-input * 2
	letter-spacing: .1em

	transition: background-color .2s, color .2s

	user-select: none
	-webkit-user-select: none

	&:not( :last-of-type )
		border-bottom: $brd_w-input solid $brd_c-input

	&[aria-selected]
		cursor: pointer

	&[role=group]
		padding: 0

	&[aria-disabled=true]
		color: $grey-light

	&[aria-selected=true]
		background-color: $grey-lightest
		color: $brand-primary

	.select2-results__option
		padding-left: 1em

		.select2-results__group
			padding-left: 0

		.select2-results__option
			margin-left: -1em
			padding-left: 2em

			.select2-results__option
				margin-left: -2em
				padding-left: 3em

				.select2-results__option
					margin-left: -3em
					padding-left: 4em

					.select2-results__option
						margin-left: -4em
						padding-left: 5em

						.select2-results__option
							margin-left: -5em
							padding-left: 6em

	&:hover:not( [aria-disabled=true] ) // &--highlighted[aria-selected] - is active on open state without hover
		color: $brand-danger

&.select2-container--open .select2-dropdown
	left: 0

.select2-search--dropdown
	display: block
	border-bottom: $brd_w-input solid $brd_c

	.select2-search__field
		width: 100%

		&::-webkit-search-cancel-button
			-webkit-appearance: none

	&.select2-search--hide
		display: none