.select2-dropdown
	position: absolute
	left: -100000px
	z-index: 1051

	display: block

	width: 100%

	border: 1px solid #aaa
	border-radius: 4px

	background-color: $white

.select2-results
	display: block

.select2-results__options
	list-style: none
	margin: 0
	padding: 0

.select2-results__option
	padding: 6px

	user-select: none
	-webkit-user-select: none

	&[aria-selected]
		cursor: pointer

.select2-container--open .select2-dropdown
	left: 0

.select2-container--open .select2-dropdown--above
	border-bottom: none
	border-bottom-left-radius: 0
	border-bottom-right-radius: 0

.select2-container--open .select2-dropdown--below
	border-top: none
	border-top-left-radius: 0
	border-top-right-radius: 0

.select2-search--dropdown
	display: block
	padding: 4px

	.select2-search__field
		width: 100%
		padding: 4px

		&::-webkit-search-cancel-button
			-webkit-appearance: none

	&.select2-search--hide
		display: none