.select2-selection--multiple
	cursor: pointer
	display: block

	user-select: none
	-webkit-user-select: none

	.select2-selection__rendered
		display: flex
		flex-wrap: wrap
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap

	.select2-selection__choice__remove
		cursor: pointer

.select2-search--inline

	.select2-search__field