.select2-selection--single
	display: block

	cursor: pointer

	user-select: none
	-webkit-user-select: none

	.select2-selection__rendered

		+text-ellipsis

	.select2-selection__clear
		position: relative

&[dir="rtl"]

	.select2-selection--single

		.select2-selection__rendered
			padding-right: 8px
			padding-left: 20px