extends extends/layout



block content

	.l-chat
		.l-chat__item
			.b-chat-nav.b-chat-nav_active_mb.l-chat__nav
				.b-chat-nav__logo
					.b-chat-nav__logo-symbol( style="height: 37px; background-image: url( 'media/img/content/companies/Perfecta.png' )" )
				.b-chat-nav__content.c-scroll
					.b-chat-nav__item
						.b-chat-nav__heading.b-chat-nav__heading_team
							.b-chat-nav__heading-text Favorites
							button.b-chat-nav__heading-btn-add
						.b-chat-nav__chat-list
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_user.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-nav__chat-list-item-inner
									.b-chat-line.b-chat-nav__chat-list-info
										.b-chat-line__item
											.b-chat-line__photo.b-chat-nav__photo( style="background-image: url(media/img/content/users/3.jpg)" )
										.b-chat-line__item.b-chat-line__item_name
											.b-chat-line__name.b-chat-nav__name Debra Santos (Me)
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_user.b-chat-nav__chat-list-item_active.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" ).b-chat-nav__chat-list-item_online
								.b-chat-nav__chat-list-item-inner
									.b-chat-line.b-chat-nav__chat-list-info
										.b-chat-line__item
											.b-chat-line__photo.b-chat-nav__photo( style="background-image: url(media/img/content/users/9.jpg)" )
										.b-chat-line__item.b-chat-line__item_name
											.b-chat-line__name.b-chat-nav__name Jason Fox
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_user.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-nav__chat-list-item-inner
									.b-chat-line.b-chat-nav__chat-list-info
										.b-chat-line__item
											.b-chat-line__photo.b-chat-nav__photo( style="background-image: url(media/img/content/users/1.jpg)" )
										.b-chat-line__item.b-chat-line__item_name
											.b-chat-line__name.b-chat-nav__name Jessica Bennett
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_user.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-nav__chat-list-item-inner
									.b-chat-line.b-chat-nav__chat-list-info
										.b-chat-line__item
											.b-chat-line__photo.b-chat-nav__photo( style="background-image: url(media/img/content/users/5.jpg)" )
										.b-chat-line__item.b-chat-line__item_name
											.b-chat-line__name.b-chat-nav__name Christian Payne

					.b-chat-nav__item
						.b-chat-nav__heading.b-chat-nav__heading_chat
							.b-chat-nav__heading-text Conversations
							button.b-chat-nav__heading-btn-add.c-manipulate-class( type="button" data-c-manipulate-class-element="body, .c-manipulate-class----modal--2" data-c-manipulate-class-class="_modal_active, b-modal_active" )
						.b-chat-nav__chat-list
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_user.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-nav__chat-list-item-inner
									.b-chat-line.b-chat-nav__chat-list-info
										.b-chat-line__item
											.b-chat-line__photo.b-chat-nav__photo( style="background-image: url(media/img/content/users/default.jpg)" )
										.b-chat-line__item.b-chat-line__item_name
											.b-chat-line__name.b-chat-nav__name Greg Perry
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_user.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-nav__chat-list-item-inner
									.b-chat-line.b-chat-nav__chat-list-info
										.b-chat-line__item
											.b-chat-line__photo.b-chat-nav__photo( style="background-image: url(media/img/content/users/default_tel.jpg)" )
										.b-chat-line__item.b-chat-line__item_name
											.b-chat-line__name.b-chat-nav__name 916 274 83 01
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_user.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-nav__chat-list-item-inner
									.b-chat-line.b-chat-nav__chat-list-info
										.b-chat-line__item
											.b-chat-line__photo.b-chat-line__photo_with_text.b-chat-nav__photo 3
										.b-chat-line__item.b-chat-line__item_name
											.b-chat-line__name.b-chat-nav__name Developers

					.b-chat-nav__item.b-chat-nav__item_last
						.b-chat-nav__heading.b-chat-nav__heading_campaigns
							.b-chat-nav__heading-text Campaigns
							button.b-chat-nav__heading-btn-add.c-manipulate-class( type="button" data-c-manipulate-class-element="body, .c-manipulate-class----modal--3" data-c-manipulate-class-class="_modal_active, b-modal_active" )
						.b-chat-nav__chat-list.b-chat-nav__chat-list_tags
							.b-chat-nav__chat-list-item.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-line
									.b-chat-line__item
										.b-chat-nav__chat-tag 12
									.b-chat-line__item.b-chat-line__item_name
										.b-chat-line__name.b-chat-nav__name Potential partners
								button.b-chat-nav__chat-copy
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_active.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-line
									.b-chat-line__item
										.b-chat-nav__chat-tag 1
									.b-chat-line__item.b-chat-line__item_name
										.b-chat-line__name.b-chat-nav__name Updated sales system
								button.b-chat-nav__chat-copy
							.b-chat-nav__chat-list-item.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-line
									.b-chat-line__item
										.b-chat-nav__chat-tag 427
									.b-chat-line__item.b-chat-line__item_name
										.b-chat-line__name.b-chat-nav__name Main service customers
								button.b-chat-nav__chat-copy

		.l-chat__item.l-chat__item_main
			.b-chat-header.l-chat__header
				.b-chat-header__inner
					.b-chat-header__inner-item.b-chat-header__inner-item_main
						//- .b-chat-header__user
						//- 	.b-chat-header__user-item
						//- 		.b-chat-header__user-photo( style="background-image: url(media/img/content/users/9.jpg)" )
						//- 	.b-chat-header__user-item.b-chat-header__user-item_info
						//- 		.b-chat-header__user-name Jason Fox
						//- 		.b-chat-header__user-status Online
						.b-chat-header__user.b-chat-header__user_lg
							.b-chat-header__user-item
								.b-chat-header__user-photo( style="background-image: url(media/img/content/users/default_group.jpg)" )
							.b-chat-header__user-item.b-chat-header__user-item_info.l-flex
								.b-list-user-dropdown__bind.l-flex.l-flex__item_stretch_and_shrink
									.b-chat-header__user-name.b-chat-header__user-name_lg.b-chat-header__user-name_last Christian Payne, Jason Fox, Jessica Bennett

									.b-list-user-dropdown.b-list-user-dropdown_without_heading
										.b-list-user-dropdown__inner
											.b-list-user-dropdown__box
												.b-list-user-dropdown__content.c-scroll
													.b-list-user-dropdown__content-item
														.b-chat-line
															.b-chat-line__item
																.b-chat-line__photo( style="background-image: url(media/img/content/users/9.jpg)" )
															.b-chat-line__item.b-chat-line__item_name
																.b-chat-line__name Jason Fox
													.b-list-user-dropdown__content-item
														.b-chat-line
															.b-chat-line__item
																.b-chat-line__photo( style="background-image: url(media/img/content/users/1.jpg)" )
															.b-chat-line__item.b-chat-line__item_name
																.b-chat-line__name Jessica Bennett
													.b-list-user-dropdown__content-item
														.b-chat-line
															.b-chat-line__item
																.b-chat-line__photo( style="background-image: url(media/img/content/users/5.jpg)" )
															.b-chat-line__item.b-chat-line__item_name
																.b-chat-line__name Christian Payne

					.b-chat-header__inner-item
						.b-chat-header__options
							.b-chat-header__options-item
								button.b-chat-header__options-btn.b-chat-header__options-keypad
							.b-chat-header__options-item
								.b-chat-header__options-call.b-list-user-dropdown__bind
									button.b-chat-header__options-btn.b-chat-header__options-call-inner

									.b-list-user-dropdown.b-list-user-dropdown_right.b-list-user-dropdown_t_xs
										.b-list-user-dropdown__inner
											.b-list-user-dropdown__box
												.b-list-user-dropdown__heading
													.b-list-user-dropdown__heading-text Call to:
												.b-list-user-dropdown__content.c-scroll
													.b-list-user-dropdown__content-item
														.b-chat-line
															.b-chat-line__item
																.b-chat-line__photo( style="background-image: url(media/img/content/users/default_group.jpg)" )
															.b-chat-line__item.b-chat-line__item_name
																.b-chat-line__name All
													.b-list-user-dropdown__content-item
														.b-chat-line
															.b-chat-line__item
																.b-chat-line__photo( style="background-image: url(media/img/content/users/9.jpg)" )
															.b-chat-line__item.b-chat-line__item_name
																.b-chat-line__name Jason Fox
													.b-list-user-dropdown__content-item
														.b-chat-line
															.b-chat-line__item
																.b-chat-line__photo( style="background-image: url(media/img/content/users/1.jpg)" )
															.b-chat-line__item.b-chat-line__item_name
																.b-chat-line__name Jessica Bennett
													.b-list-user-dropdown__content-item
														.b-chat-line
															.b-chat-line__item
																.b-chat-line__photo( style="background-image: url(media/img/content/users/5.jpg)" )
															.b-chat-line__item.b-chat-line__item_name
																.b-chat-line__name Christian Payne

			.b-chat.l-chat__main
				.b-chat__content
					.b-chat__content-inner.c-scroll
						.b-chat__message
							.b-chat__message-inner
								.b-chat__message-item
									.b-chat__message-user-photo( style="background-image: url(media/img/content/users/3.jpg)" )
								.b-chat__message-item.b-chat__message-item_main
									.b-chat__message-info #[span.b-chat__message-info_name._letter_spacing_inherit Debra Santos]#[span.b-chat__message-info_minor 2 mins ago]
									.b-chat__message-text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.

						.b-chat__hr
							.b-chat__hr-text Today

						.b-chat__message
							.b-chat__message-inner
								.b-chat__message-item
									.b-chat__message-user-photo( style="background-image: url(media/img/content/users/9.jpg)" )
								.b-chat__message-item.b-chat__message-item_main
									.b-chat__message-info #[span.b-chat__message-info_name._letter_spacing_inherit Jason Fox]#[span.b-chat__message-info_minor 2 mins ago]
									.b-chat__message-text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters

						.b-chat__message.b-chat__message
							.b-chat__message-inner
								.b-chat__message-item
									.b-chat__message-user-photo( style="background-image: url(media/img/content/users/3.jpg)" )
								.b-chat__message-item.b-chat__message-item_main
									.b-chat__message-info #[span.b-chat__message-info_name._letter_spacing_inherit Debra Santos]#[span.b-chat__message-info_minor 2 mins ago]
									.b-chat__message-text Got it!

				.b-chat__enter
					textarea.b-chat__enter-textarea( placeholder="Your Message" )
					button.b-chat__enter-btn Send

				button.b-chat__back.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" ) Back





	include includes/b-box----add-сampaign--3
	include includes/b-box----start-conversation--2




append scripts

	script(
		src="dist/js/plugins/select2.full.js" )

	script(
		src="dist/js/plugins/perfect-scrollbar.jquery.js" )

	script(
		src="dist/js/plugins/tooltipster.bundle.js" )

	script(
		src="dist/js/specific/app.js" )