extends extends/layout



block content

	.l-content-wrapper( style="background: fixed url(media/img/content/bgs/1.jpg) 50% / cover no-repeat; justify-content: center;" )

		.l-content-wrapper__item.l-content-wrapper__item_main( style="display: flex; align-items: flex-start; flex-wrap: wrap; justify-content: center;" )

			div( style="margin: 0 25px;" )

				section.b-box-call( style="margin: 25px 0;" )

					.b-box-call__top
						.b-box-call__top-time 32:10
						button.b-box-call__top-cross

					.b-box-call__main.b-box-call__main_p_t_lg

						button.b-box-call__back
							span.b-box-call__back-text Back

						h3.b-heading-3.b-heading-3_m_b_xxs._text_center Transfer to:
						input.b-box-call__input._text_center( type="text" placeholder="Type a name or number" )
						.b-box-call__btn-keys
							.b-box-call__btn-keys-list
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 1
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 2
										span.b-box-call__btn-key_subtext abc
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 3
										span.b-box-call__btn-key_subtext def
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 4
										span.b-box-call__btn-key_subtext ghi
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 5
										span.b-box-call__btn-key_subtext jkl
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 6
										span.b-box-call__btn-key_subtext mno
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 7
										span.b-box-call__btn-key_subtext pqrs
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 8
										span.b-box-call__btn-key_subtext tuv
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 9
										span.b-box-call__btn-key_subtext wxyz
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main *
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 0
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main #
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-round.b-box-call__btn-round_call.b-box-call__btn-round_success

				section.b-box-call( style="margin: 25px 0;" )

					.b-box-call__top
						.b-box-call__top-time 32:10
						button.b-box-call__top-cross

					.b-box-call__main.b-box-call__main_p_t_lg

						button.b-box-call__back
							span.b-box-call__back-text Back

						h3.b-heading-3.b-heading-3_m_b_xxs._text_center Keypad:
						input.b-box-call__input._text_center( type="text" placeholder="Type a number" )
						.b-box-call__btn-keys
							.b-box-call__btn-keys-list
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 1
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 2
										span.b-box-call__btn-key_subtext abc
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 3
										span.b-box-call__btn-key_subtext def
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 4
										span.b-box-call__btn-key_subtext ghi
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 5
										span.b-box-call__btn-key_subtext jkl
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 6
										span.b-box-call__btn-key_subtext mno
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 7
										span.b-box-call__btn-key_subtext pqrs
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 8
										span.b-box-call__btn-key_subtext tuv
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 9
										span.b-box-call__btn-key_subtext wxyz
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main *
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 0
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main #
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-round.b-box-call__btn-round_call.b-box-call__btn-round_success

			div( style="margin: 0 25px;" )

				section.b-box-call( style="margin: 25px 0;" )

					.b-box-call__top
						button.b-box-call__top-cross

					.b-box-call__main

						.b-box-call__main-users
							.b-box-call__main-users-item
								.b-box-call__user-photo( style="background: url(media/img/content/users/1.jpg) 50% / cover no-repeat;" )
							.b-box-call__main-users-item
								.b-box-call__main-users-info
									p.b-box-call__user-name Jason Fox #[span.b-box-call__user-name_number (930)]
									p.b-box-call__user-number +1 425-332-5592

						.b-box-call__main-btns.b-box-call__main-btns_m_horiz_lg
							.b-box-call__main-btns-item.b-box-call__main-btns-item_6
								button.-ol-btn.-ol-btn_success.-ol-btn_rounded.-ol-btn_call._full_w Answer
							.b-box-call__main-btns-item.b-box-call__main-btns-item_6
								button.-ol-btn.-ol-btn_danger.-ol-btn_rounded.-ol-btn_end._full_w End Call

				section.b-box-call( style="margin: 25px 0;" )

					.b-box-call__top
						.b-box-call__top-time 32:10
						button.b-box-call__top-cross

					.b-box-call__main

						.b-box-call__main-users
							.b-box-call__main-users-item
								.b-box-call__user-photo( style="background: url(media/img/content/users/1.jpg) 50% / cover no-repeat;" )
							.b-box-call__main-users-item
								.b-box-call__main-users-info
									p.b-box-call__user-name Jason Fox #[span.b-box-call__user-name_number (930)]
									p.b-box-call__user-number +1 425-332-5592

						.b-box-call__main-btns
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_end.b-box-call__btn-round_danger
								.b-box-call__main-btns-text End
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_mute
								.b-box-call__main-btns-text Mute
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_add
								.b-box-call__main-btns-text Add
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_transfer
								.b-box-call__main-btns-text Transfer
							.b-box-call__main-btns-item
								.b-box-call__dropdown-bind
									button.b-box-call__btn-round.b-box-call__btn-round_more
									.b-box-call__dropdown
										ul.b-box-call__dropdown-list
											li.b-box-call__dropdown-list-item
												.b-box-call__dropdown-icon.b-box-call__dropdown-icon_keypad
												.b-box-call__dropdown-text Keypad
											li.b-box-call__dropdown-list-item.b-box-call__dropdown-list-item_last
												.b-box-call__dropdown-icon.b-box-call__dropdown-icon_hold
												.b-box-call__dropdown-text Hold
								.b-box-call__main-btns-text More

			div( style="margin: 0 25px;" )

				form.b-box-call.b-box-call_w_lg( style="margin: 25px 0;" )

					.b-box-call__top
						button.b-box-call__top-cross.c-manipulate-class( data-c-manipulate-class-element="body, .c-manipulate-class----modal--2" data-c-manipulate-class-class="_modal_active, b-modal_active" data-c-manipulate-class-operation-type="remove, remove" )

					.b-box-call__main.b-box-call__main_p_t_lg.b-box-call__main_p_horiz_sm
						h3.b-heading-3._text_center Start Conversation

						.-ol-row-input
							.b-box-call__main-btns.b-box-call__main-btns_nowrap
								.b-box-call__main-btns-item.b-box-call__main-btns-item_stretch
									.-ol-input-wrap
										select.c-select( data-placeholder="Enter a name or number" multiple )
											option Jason Fox
											option Jessica Bennett
											option Christian Payne

						.b-box-call__main-btns.b-box-call__main-btns_m_horiz_lg
							.b-box-call__main-btns-item.b-box-call__main-btns-item_6
								button.-ol-btn.-ol-btn_minor._full_w Cancel
							.b-box-call__main-btns-item.b-box-call__main-btns-item_6
								button.-ol-btn._full_w G0

			div( style="margin: 0 25px;" )

				section.b-box-call( style="margin: 25px 0;" )

					.b-box-call__top
						.b-box-call__top-time 32:10
						button.b-box-call__top-cross

					.b-box-call__main

						.b-box-call__main-users
							.b-box-call__main-users-item
								.b-box-call__user-photo( style="background: url(media/img/content/users/1.jpg) 50% / cover no-repeat;" )
							.b-box-call__main-users-item
								.b-box-call__main-users-info
									p.b-box-call__user-name Jason Fox #[span.b-box-call__user-name_number (930)]&#8203;#[button.b-box-call__user-btn-in-line ]
								p.b-box-call__user-number +1 425-332-5592
						.b-box-call__main-users
							.b-box-call__main-users-item
								.b-box-call__user-photo( style="background: url(media/img/content/users/2.jpg) 50% / cover no-repeat;" )
							.b-box-call__main-users-item
								.b-box-call__main-users-info
									p.b-box-call__user-name Susan Rivera #[span.b-box-call__user-name_number (644)]&#8203;#[button.b-box-call__user-btn-in-line ]
								p.b-box-call__user-number +1 425-082-8216

						.b-box-call__main-btns
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_end.b-box-call__btn-round_danger
								.b-box-call__main-btns-text End
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_unmute
								.b-box-call__main-btns-text Mute
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_add
								.b-box-call__main-btns-text Add
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_transfer
								.b-box-call__main-btns-text Transfer
							.b-box-call__main-btns-item
								.b-box-call__dropdown-bind
									button.b-box-call__btn-round.b-box-call__btn-round_more
									.b-box-call__dropdown
										ul.b-box-call__dropdown-list
											li.b-box-call__dropdown-list-item
												.b-box-call__dropdown-icon.b-box-call__dropdown-icon_keypad
												.b-box-call__dropdown-text Keypad
											li.b-box-call__dropdown-list-item.b-box-call__dropdown-list-item_last
												.b-box-call__dropdown-icon.b-box-call__dropdown-icon_hold
												.b-box-call__dropdown-text Hold
								.b-box-call__main-btns-text More

				section.b-box-call( style="margin: 25px 0;" )

					.b-box-call__top
						button.b-box-call__top-cross

					.b-box-call__main._text_center
						.b-box-call__main-header-user
							h3.b-box-call__heading-2 Calling...
							p.b-box-call__user-name.b-box-call__user-name_last Jason Fox #[span.b-box-call__user-name_number (930)]
						.b-box-call__main-btns.b-box-call__main-btns_m_horiz_lg.b-box-call__main-btns_center
							.b-box-call__main-btns-item.b-box-call__main-btns-item_6
								button.-ol-btn.-ol-btn_danger.-ol-btn_rounded.-ol-btn_end._full_w Decline



append scripts

	script(
		src="dist/js/plugins/select2.full.js" )

	script(
		src="dist/js/specific/app.js" )